#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_CSIFW_SAMPLE
	bool "CSIFW Sample Application"
	default n
	---help---
		CSIFW Sample Application
